
<div class="title-container">
    <h1>Top 5 Basic Spells for D & D:</h1>
</div>

<!--=================================== Spell Gallery ===================================-->
<div class="gallery">
    <div class="container"> <!-- Acid Arrow Details -->
        <h2>{{spell1.name}}</h2>
        <img src="https://media-waterdeep.cursecdn.com/attachments/2/703/evocation.png">
        <p>{{spell1.desc}}</p>
    </div>

    <div class="container"> <!-- Acid Splash Details -->
        <h2>{{spell2.name}}</h2>
        <img src="https://media-waterdeep.cursecdn.com/attachments/2/708/conjuration.png">
        <p>{{spell2.desc}}</p>
    </div>

    <div class="container"> <!-- Aid Details -->
        <h2>{{spell3.name}}</h2>
        <img src="https://media-waterdeep.cursecdn.com/attachments/2/707/abjuration.png">
        <p>{{spell3.desc}}</p>
    </div>

    <div class="container"> <!-- Animal Friendship Details -->
        <h2>{{spell4.name}}</h2>
        <img src="https://media-waterdeep.cursecdn.com/attachments/2/702/enchantment.png">
        <p>{{spell4.desc}}</p>
    </div>

    <div class="container"> <!-- Bestow Curse Details -->
        <h2>{{spell5.name}}</h2>
        <img src="https://media-waterdeep.cursecdn.com/attachments/2/720/necromancy.png">
        <p>{{spell5.desc}}</p>
    </div>
</div>

<!--=====================================================================================-->