
.container {
    padding: 3em;
    border: 1px solid lightgray;
    margin-bottom: 1em;

    img {
        width: 20em;
        height: 6.5em;
    }
}

.title-container {
    padding: 3em;
    margin-bottom: 1em;
    background-image: url("https://media.dnd.wizards.com/styles/second_hubpage_banner/public/images/head-banner/04-PRODUCT-INFO_Tabletop_Hero_PHB_1.jpg");

    h1, h2 {
        text-align: center;
        color:white;
    }
}